{% extends "base.html" %}

{% block title %}
Login | GridAlloc
{% endblock %}


{% block content %}

<div class="container">

    <div class="row justify-content-center mt-5">

        <div class="col-md-5">

            <div class="card shadow-sm p-4">

                <div class="text-center mb-4">

                    <div class="fs-1">
                        🏠
                    </div>

                    <h2 class="fw-bold">
                        Welcome Back
                    </h2>

                    <p class="text-muted">
                        Login to your GridAlloc account
                    </p>

                </div>


                <form method="POST">

                    {% csrf_token %}


                    <div class="mb-3">

                        <label class="form-label">
                            Username
                        </label>

                        <input
                            type="text"
                            name="username"
                            class="form-control"
                            placeholder="Enter username"
                            required
                        >

                    </div>


                    <div class="mb-3">

                        <label class="form-label">
                            Password
                        </label>

                        <input
                            type="password"
                            name="password"
                            class="form-control"
                            placeholder="Enter password"
                            required
                        >

                    </div>


                    <button
                        type="submit"
                        class="btn btn-primary w-100"
                    >
                        Login
                    </button>

                </form>


                <p class="text-center text-muted mt-4">

                    Don't have an account?

                    <a href="{% url 'register' %}">
                        Register
                    </a>

                </p>

            </div>

        </div>

    </div>

</div>

{% endblock %}